<template name="joinUs">
    <div class="container-fluid aboutUs">
        <div class="row-fluid">
            <div class="col-sm-12">
                <h4>Joining us is easy</h4>
            </div>

            <div class="col-sm-12">
                <p>
                    <span>
                        To join us, you would need to provide us with some of your details which includes.
                    </span>
                </p>
                <ul>
                    <li>Full Name</li>
                    <li>Phone Number</li>
                    <li>Personal Number</li>
                    <li>Photocopy of Identification (Passport etc)</li>
                    <li>Pay the membership fee</li>
                </ul>
                <p>
                    <span>
                        So, what are you waiting for? Pick up the phone and call the team leader PERSONX at NUMBER
                    </span>
                </p>
                <p>
                    <span>
                       OR, Send us an <a href="mailto:holmlia.cc@gmail.com">email</a>  at holmlia.cc@gmail.com to get further details.
                    </span>
                </p>

                <p>
                    <span>
                       We value each member of our time and we understand joining a new club could be hard to decide. No problem we have you covered.
                    </span>
                </p>
                <p>
                    <span>
                       Come train with us indoor every Sunday from 15:00 - 17:00, or outdoor (given that the weather allows it) and then decide if you like our group dynamics.
                    </span>
                </p>

            </div>

        </div>
    </div>
</template>