<template name="aboutUs">
    <div class="container-fluid aboutUs">
        <div class="row-fluid">
            <div class="col-sm-12">
                <h4>About Holmlia</h4>
            </div>

            <div class="col-sm-12">
                <p>  <span>Homlia have entered our 15 year of competitive cricket. We are currently playing in 2nd of Oslo's 6
                    divisions and play our games at one of the four-five pitches provided by the Oslo city sports
                    organisation.  </span>
                </p>
            </div>

            <div class="col-sm-12">
                <h4>History</h4>
            </div>

            <div class="col-sm-12">
                <p>
                    <span>
                        Homlia Cricket Club was founded in YEAR by FOUNDING_MEMBERS, from COUNTRIES.

                    A bit about the history..
                    </span>
                </p>
            </div>

            <div class="col-sm-12">
                <h4>
                    Cricket in Norway (from the BBC’s Website)
                </h4>

                <p>
                    <span>
                    Norway is one of cricket's most northern outposts. There are twenty teams in this small nation that
                    boasts only 4 million people, of which most follow football and in the summer months is completely
                    dominated by it.
                    </span>
                    <br>
                    <span>
                    There is, however, plenty of interest in cricket, especially among the country's sizeable Asian
                    community. But that in itself led to difficulties in establishing the country as part of the
                    international cricket community.
                    </span>
                    <br>
                    <span>
                    Ninety per cent of the cricket population in Norway is of Asian descent and very few of them can
                    converse well in English. However with perseverance cricket is becoming a more widely recognised and
                    enjoyed
                    </span>
                    <br>
                    <span>
                    Having been granted affiliate membership of the European Cricket Council in June 2000, with England
                    acting as sponsors, Norway entered - and won - a five-nation ECC Festival tournament in Austria.
                    </span>
                    <br>
                    <span>
                    The country's national team marked time in 2001, although a visit from Pakistani Test players Abdur
                    Razzaq and Imran Nazir created a great deal of interest. Finally, the situation resolved itself last
                    month when Gibb was elected president and Australian Simon Herbert took over as secretary. Things
                    are now moving forward again with 14 teams set to take part in the Oslo Cricket League this summer -
                    three more than last year.
                    Around 2,000 people play cricket in Norway, but he is determined to attract more youngsters. We are
                    hoping to start a junior league this year for under-17s and have already made contact with several
                    schools to try and get some indigenous Norwegians to play cricket;" said Bob.
                    </span>
                </p>
            </div>


        </div>
    </div>
</template>