<template name="supportUs">
    <div class="container-fluid aboutUs">
        <div class="row-fluid">
            <div class="col-sm-12">
                <h4>Support US</h4>
            </div>

            <div class="col-sm-12">
                <p>
                    <span>
                        Like every other club or any institute we also need financial as well as moral support.
                    </span>
                </p>
                <p>
                    <span>
                        So, if you are willing to support us financially you can transfer any amount to this account number.
                    </span>
                </p>
                <p>
                    <span>
                       Remember, no amount is small. Even if you can't support us financially we urge you to come to our matches and support us morally and cheer for us.
                    </span>
                </p>

            </div>

        </div>
    </div>
</template>